################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo1NewDbProject/.vs/Demo1NewDbProject/v16
/Demo1NewDbProject/NewDbProject/bin/Debug
/Demo1NewDbProject/NewDbProject/obj/Debug
/AdventureWorks/.vs/AdventureWorks/v16
/AdventureWorks/AdventureWorksLT2019/bin/Debug
/AdventureWorks/AdventureWorksLT2019/obj/Debug
