################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo1NewDbProject/.vs/Demo1NewDbProject/v16
/Demo1NewDbProject/NewDbProject/bin/Debug
/Demo1NewDbProject/NewDbProject/obj/Debug
/AdventureWorks/.vs/AdventureWorks/v16
/AdventureWorks/AdventureWorksLT2019/bin/Debug
/AdventureWorks/AdventureWorksLT2019/obj/Debug
/AdventureWorks/AdventureWorksLT2019/AdventureWorksLT2019.dbmdl
/AdventureWorks/AdventureWorksLT2019/AdventureWorksLT2019.jfm
/Demo2ReverseEngineerDb/.vs/Demo2ReverseEngineerDb/v16
/Demo2ReverseEngineerDb/AdventureWorksLT2019/bin/Debug
/Demo2ReverseEngineerDb/AdventureWorksLT2019/obj/Debug
/Demo3CreateTable/.vs
/Demo3CreateTable/AdventureWorksLT2019/bin/Debug
/Demo3CreateTable/AdventureWorksLT2019/obj/Debug
