################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demo1NewDbProject/.vs/Demo1NewDbProject/v16
/Demo1NewDbProject/NewDbProject/bin/Debug
/Demo1NewDbProject/NewDbProject/obj/Debug
/AdventureWorks/.vs/AdventureWorks/v16
/AdventureWorks/AdventureWorksLT2019/bin/Debug
/AdventureWorks/AdventureWorksLT2019/obj/Debug
/AdventureWorks/AdventureWorksLT2019/AdventureWorksLT2019.dbmdl
/AdventureWorks/AdventureWorksLT2019/AdventureWorksLT2019.jfm
/Demo2ReverseEngineerDb/.vs/Demo2ReverseEngineerDb/v16
/Demo2ReverseEngineerDb/AdventureWorksLT2019/bin/Debug
/Demo2ReverseEngineerDb/AdventureWorksLT2019/obj/Debug
/Demo3CreateTable/.vs
/Demo3CreateTable/AdventureWorksLT2019/bin/Debug
/Demo3CreateTable/AdventureWorksLT2019/obj/Debug
/DemoStart/.vs/Demo2ReverseEngineerDb/v16
/DemoStart/AdventureWorksLT2019/bin/Debug
/DemoStart/AdventureWorksLT2019/obj/Debug
/DemoStart/.vs/DemoStart/v16
/Demo4StoredProcedure/.vs/Demo2ReverseEngineerDb/v16
/Demo4StoredProcedure/AdventureWorksLT2019/bin/Debug
/Demo4StoredProcedure/AdventureWorksLT2019/obj/Debug
/Demo4StoredProcedure/.vs/Demo4StoredProcedure/v16
/Demo5BuildProject/.vs
/Demo5BuildProject/AdventureWorksLT2019/bin/Debug
/Demo5BuildProject/AdventureWorksLT2019/obj/Debug
/Demo6RunProject/.vs
/Demo6RunProject/AdventureWorksLT2019/bin/Debug
/Demo6RunProject/AdventureWorksLT2019/obj/Debug
/Demo6RunProject/DemoConsoleApp/bin/Debug
/Demo6RunProject/DemoConsoleApp/obj/Debug
/Demo6RunProject/AdventureWorksLT2019/AdventureWorksLT2019.dbmdl
/Demo6RunProject/AdventureWorksLT2019/AdventureWorksLT2019.jfm
/Demo7DeployProject/.vs
/Demo7DeployProject/AdventureWorksLT2019/bin/Debug
/Demo7DeployProject/AdventureWorksLT2019/obj/Debug
/Demo7DeployProject/AdventureWorksLT2019/AdventureWorksLT2019.jfm
/Demo7DeployProject/DemoConsoleApp/bin/Debug
/Demo7DeployProject/DemoConsoleApp/obj/Debug
/Demo8InitialData/.vs
/Demo8InitialData/AdventureWorksLT2019/bin/Debug
/Demo8InitialData/AdventureWorksLT2019/obj/Debug
/Demo8InitialData/AdventureWorksLT2019/AdventureWorksLT2019.jfm
/Demo8InitialData/DemoConsoleApp/bin/Debug
/Demo8InitialData/DemoConsoleApp/obj/Debug
/Demo9UnitTesting/.vs
/Demo9UnitTesting/AdventureWorksLT2019/bin/Debug
/Demo9UnitTesting/AdventureWorksLT2019/obj/Debug
/Demo9UnitTesting/AdventureWorksLT2019/AdventureWorksLT2019.jfm
/Demo9UnitTesting/DemoConsoleApp/bin/Debug
/Demo9UnitTesting/DemoConsoleApp/obj/Debug
/Demo9UnitTesting/packages
/Demo9UnitTesting/DemoUnitTests/bin/Debug
/Demo9UnitTesting/DemoUnitTests/obj/Debug
